---
const { title, link, description, technologies, urlImages } = Astro.props;
---

<div
  class="w-full border-[0.5px] border-borde rounded-lg flex flex-col h-[435px] md:h-[420px] lg:h-[410px] xl:h-[430px] xl:w-[311px] group"
>
  <!-- carousel images -->
  <div class="w-full h-[48%] rounded-t-lg bg-red-950 overflow-hidden md:h-[46%]">
    <div class="wrapper flex">
      {
        urlImages.map((img: any) => (
          <img
            src={img}
            alt="k"
            class="object-cover h-full opacity-90"
          />
        ))
      }
    </div>
  </div>

  <!-- body container -->
  <div
    class="text-sm h-[52%] p-4 flex flex-col items-center justify-between md:px-2 md:h-[54%] lg:px-3 lg:py-2 lg:justify-around"
  >
    <h2 class="text-center text-lg font-semibold tracking-wider text-tbase">
      {title}
    </h2>
    <p class="w-full mt-2 text-xs text-details">
      {description}
    </p>
    <ul class="flex my-5 gap-1.5 w-full justify-center flex-wrap">
      {
        technologies.map((tech: any) => (
          <li class="text-xs bg-tag p-1 rounded-md text-details">{tech}</li>
        ))
      }
    </ul>

    <a
      href={link}
      target="_blank"
      class="btn-project border-[0.9px] py-0.5 border-details rounded-xl px-10 text-details flex gap-1 items-center justify-center md:px-8 transform transition-all duration-200 ease-in-out cursor-pointer"
    >
      <span>GitHub</span>
        <img
          src="/imas/igithub.svg"
          alt="gh"
          class="w-[13.5px] h-[13.5px] xl:mb-0.5"
        />
    </a>

  </div>
</div>
