---
import { dataProjects as data } from "src/constants/const";
import Project from "./Project.astro";
---

<section
  class="min-h-screen flex flex-col gap-4 mt-40 justify-center items-center py-20 md:mt-16 xl:mt-28 lg:py-8"
  id="projectS"
>
  <!-- tittle -->
  <h1
    class="text-center text-3xl text-white tracking-widest font-semibold md:text-4xl xl:text-5xl"
  >
    Projects
  </h1>

  <!-- projects container -->
  <div
  class="
    flex flex-col items-center justify-center gap-16 px-2 mt-10 w-[328px]
    md:grid md:grid-cols-2 md:flex-row md:w-[610px] md:gap-3 md:mt-12
    lg:w-[675px] lg:gap-10 lg:mt-16
    xl:mt-[60px] xl:flex xl:w-full xl:px-0 xl:gap-5
  ">
    {
      data.map(({ title, link, description, technologies, urlImages }) => (
        <Project
          title={title}
          link={link}
          description={description}
          technologies={technologies}
          urlImages={urlImages}
        />
      ))
    }
  </div>
</section>
